.header-container {
  color: var(--blue);
  background-color: var(--black);
  height: 6.5rem;

  display: flex;
  align-items: center;
  padding: 2rem 4rem;
}

.header-container p {
  margin-left: 2rem;
  padding: 0.25rem 0 0.25rem 2rem;
  border-left: 1px solid var(--grey);
}

span {
  margin-left: auto;
}
