.slider-container {
  position: relative;
  width: 100%;
}

.slider-container::before {
  content: "";
  background-color: white;
  width: 99%;
  height: calc(0.25rem - 1px);
  display: block;
  position: absolute;
  border-radius: 0.625rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.progress-bar-cover {
  background-color: var(--blue);
  height: 0.25rem;
  display: block;
  position: absolute;
  border-radius: 0.625rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  user-select: none;
  pointer-events: none;
}

.range {
  -webkit-appearance: none;
  height: 0.625rem;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  margin: 0 auto;
}

.range::-webkit-slider-thumb {
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
}

.thumb {
  width: 1.25rem;
  height: 1.25rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.753);
  z-index: 3;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  pointer-events: none;
  user-select: none;
}
